html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Space Grotesk', sans-serif;
  font-size: $font-sm;
  font-weight: 300;
  color: $grayishBlue;
  line-height: 1.3;
  overflow-x: hidden;
  background-color: $deep-space;
  background-image: radial-gradient(circle at 50% 0%, #2a0e45 0%, $deep-space 60%);
  background-attachment: fixed;

  @include breakpoint-up(large) {
    font-size: $font-med;
  }

  &.noscroll {
    overflow: hidden;
  }
}