.hero {
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding-top: 5rem;
  background-color: transparent;
  text-align: center;

  &::before {
    content: '';
    position: absolute;
    top: -20%;
    left: -50%;
    z-index: -2;
    width: 200%;
    height: 150%;
    background-image: linear-gradient(rgba(0, 240, 255, 0.4) 1px, transparent 1px), linear-gradient(90deg, rgba(0, 240, 255, 0.4) 1px, transparent 1px);
    background-size: 50px 50px;
    opacity: 0.3;
    transform: perspective(500px) rotateX(60deg);
    animation: gridMove 10s linear infinite;
  }

  &::after {
    content: 'SAFE CHAIN';
    position: absolute;
    top: 10%;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
    color: transparent;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 20vw;
    font-weight: 800;
    white-space: nowrap;
    pointer-events: none;
    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.05);
  }

  .container {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text {
    max-width: 900px;
    margin: 0 auto 2rem auto;

    h1 {
      margin-bottom: 2rem;
      color: #ffffff;
      font-size: 3rem;
      line-height: 1.1;
      text-transform: uppercase;

      .highlight {
        background: linear-gradient(to right, #bd00ff, #00f0ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      @include breakpoint-up(large) {
        font-size: 5rem;
      }
    }

    p {
      max-width: 600px;
      margin-right: auto;
      margin-bottom: 2.5rem;
      margin-left: auto;
      color: $grayishBlue;
      font-size: 1.1rem;
    }
  }

  &__image {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 450px;
    background-image: url('../images/base.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 3rem;

    @include breakpoint-up(large) {
      height: 850px;
      margin-bottom: 10rem;
      transform: scale(1.3);
      transform-origin: center center;
    }
  }
}

@keyframes gridMove {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 50px;
  }
}