h1,
h2,
h3 {
  margin-top: 0;
  color: $white;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-bottom: 1.5rem;
  background: linear-gradient(to right, $neon-pink, $royal-gold);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;

  @include breakpoint-up(large) {
    font-size: 3.5rem;
  }
}

h2 {
  margin-bottom: 1.5625rem;
  font-size: 1.875rem;

  @include breakpoint-up(large) {
    margin-bottom: 2.25rem;
    font-size: 2.25rem;
  }
}

p {
  margin-bottom: 2.25rem;
  color: $grayishBlue;
  line-height: 1.5;
}

a,
a:visited,
a:hover {
  color: inherit;
  text-decoration: none;
}